body{
   background-color: black;
}

h1{
    text-align: center;
    margin: 50px 50px;
}

.conteudo__item, h1{
    color: white;
    font-family:Gluten ;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between center;*/
    gap: 25px;
}

.conteudo__item {
    height: 150px;
    width: 250px;
    padding: 25px;
    margin-top: 50px;

}